@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --primary-color : #1E3A8A;
    --secondary-color : #1E3A8A;
    --border-color: #0000001c;
}


a {
    text-decoration: 0;
    font-size: 13px;
}

/*Scrollbar CSS**/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: #4f4f4f;
    border-radius: 30px;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    background: white;
    z-index: 10;
    justify-content: space-between;
    padding: 10px 5%;
}
header .logo {
    display: flex;
    align-items: center;
}
header .logo img {
    width: 50px;
    height: 50px;
    transform: scale(1.1);
}
header .logo h1 {
    font-size: 27px;
    color: #4f4f4f;
}

header .logo h1 span{
    font-size: 22px;
}

.menu {
    display: flex;
}
.menu li {
    margin-left:50px;
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}
.menu li a {
    color: #999;
    transition: 0.5s;
}
.menu li a:hover {
    color: var(--primary-color);
    font-size: 15px;
}
.menu li:hover::after {
    content: "";
    position: absolute;
    height: 30px;
    z-index: -1;
    width: 30px;
    background-color: #f2f2f2;
    border-radius: 50%;
}

.log {
    display: flex;
    align-items: center;
    gap: 1em;
}

.register {
    font-size: 14px;
    color: var(--primary-color);
    padding: 10px 22px;
    border: 1px solid var(--primary-color);
    border-radius: 60px;
}

.login {
    font-size: 14px;
    color: #fff;
    padding: 10px 25px;
    background: var(--secondary-color);
    border-radius: 60px;
}
/* home CSS */
.home {
    padding: 0 5%;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 200px);
}
.home .left {
    width: 55%;
}
.home .right {
    width: 40%;
    height: 100%;
}
.home .right  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    box-shadow:  0 0 10px rgba(0,0,0,0.4);
}
.home .left h1 {
    font-size: 70px;
    color: var(--primary-color);
    font-weight: 600;
    padding: 0;
    margin-left: -8px;
    margin-bottom: -10px;
}
.home .left h1 span {
    color: #4f4f4f;
}
.home .left h4 {
    font-weight: 500;
    font: 25px;
    margin-bottom: 10px;
    color: #999;
    /* text-transform: capitalize; */
}
.home .left p {
    font-size: 16px;
    color: #999;
}

.button-link{
    margin-top: 20px;
    border: 0;
    background:transparent;
    display: inline-block;
    font-size: 14px;
    color: #fff;
    padding: 18px 25px;
    background: var(--secondary-color);
    border-radius: 60px;
    text-transform: uppercase;
    line-height: 1px;
}

/*Services CSS*/

section {
    padding: 0 5%;
    margin-bottom:50px;
}
.title {
    text-transform: uppercase;
    color: #4f4f4f;
    font-size: 50px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 30px;
}
.title::after {
    content: "";
    position: absolute;
    top: 80%;
    left: -30px;
    z-index: -2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: var(--secondary-color);
}
.title::before {
    content: "";
    position: absolute;
    top: 32px;
    left: -15px;
    z-index: -1;
    height: 30px;
    width: 30px;
    background-color: #fff;
}
.small_title {
    font-size: small;
    color: #999;
}
.list_service {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.serv {
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.1);
    width:320px;
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.serv img {
    width: 100px;
    transform: scale(1.65);
    margin-bottom: 10px;
}

/*About CSS*/

.list_about {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.list_about  h1 {
    font-size: 110px;
    color: var(--secondary-color);
}
.list_about .description {
    margin-left: 20px;
}
.list_about .description h3 {
    color: #4f4f4f;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.list_about .description p {
    font-size: 15px;
    color: #999;
}
/*Contact CSS*/
.form-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-image  form {
    width: 35%;
    display: flex;
    flex-direction: column;
}
.form-image  form input , textarea {
    margin:  10px 0;
    padding: 15px;
    border-radius: 30px;
    background-color: #f2f2f2;
    border: 0;
    outline: 0;
    resize: none;
    width: 100%;
}
.form_btn {
    width: fit-content;
    margin-top: 20px;
}
.image {
    width: 60%;
}
.image img {
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}
footer {
    background-color: #4f4f4f;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 10px;
}
.small_menu {
    display: none;
}
/*Mobile Responsive*/
@media (max-width:628px) {
    header .logo h1 {
        font-size: 15px;
    }
    header .logo img {
        width: 30px;
        height: 30px;
    }
    header .menu {
        display: none;
    }
    header .register {
        display: none;
    }

    .number {
        display: none;
    }
    .home {
        flex-direction: column-reverse;
        height: fit-content;
    }
    .home .left , .home .right {
        width: 100%;
    }
    .home .right {
        height: 350px;
    }
    .home .left {
        margin: 20px 0;
    }

    .home .left h1 {
        font-size: 60px;
    }
    .home .left h4 {
        font-size: 18px;
    }
    .home .left p {
        font-size: 13px;
    }
    .title {
        font-size: 19px;
    }
    .list_service .serv {
        width: 100%;
        margin-bottom: 50px;
    }
    .list_about h1 {
        font-size: 50px;
    }
    .list_about .description h3 {
        font-size: 12px;
    }
    .list_about .description p {
        font-size: 13px;
    }
    .form-image .image {
        display: none;
    }
    .form-image form {
        width: 100%;
    }
    footer {
        font-size: 10px;
    }

    /*Responsive Menu*/
    .small_menu{
        display: flex;
        width: 25px;
        height: 25px;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        border-radius: 50%;
        transition: 0.5s;
       
    }
    .small_menu span {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: 0.5s;
    }
    .small_menu span div {
        height: 11px;
        width: 11px;
        background-color: var(--primary-color);
        border-radius: 6px;
    }
    .small_menu.active {
        justify-content: center;
        align-items: unset;
    }
    .small_menu.active span:nth-child(1){
        display: none;
    }
    .small_menu.active span {
        display: flex;
        flex-direction: unset;
        height: 100%;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }
    .small_menu.active span div {
        height: 100%;
        width: 3px;
        border-radius: 6px;
        transition: 0.5s;
    }
    .small_menu.active span div:nth-child(1){
        transform: rotate(45deg);
    }
    .small_menu.active span div:nth-child(2){
        transform: rotate(-45deg);
    }
    header .menu.small{
        display: flex;
        position: absolute;
        top: 50px;
        left: 0;
        background-color: rgba(255 255 255 /0.9);
        flex-direction: column;
        width: 100%;
        padding-bottom: 2.85em;

    }
    header .menu.small li {
        margin: 15px 0;
    }


    .register.small{
        display: block;
        position: absolute;
        top: 400%;
        right: 50%;
        transform: translateX(50%);
    }

}

/* @media (max-width:400px) {
    .register.small{
        top: 27.5%;
    }
}
@media (max-width:360px) {
    .register.small{
        top: 30.5%;
    }
} */